<div ng-controller="NavCtrl">
  <div ng-click="gotoprojects()" class="navbutton top left" ng-class="{ active: isActive('/projects')}">
    <div class="buttonwrapper">
      <div class="wrapper">projects</div>
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <br/>
  <div ng-click="gotoexperience()" class="navbutton top right" ng-class="{ active: isActive('/experience')}">
    <div class="buttonwrapper">
      <div class="wrapper">experience</div>
      <i class="fa fa-angle-left"></i>
    </div>
  </div>
  <div class="navbutton bot left" onclick="window.location='http://blog.theytookmydomain.net/';">
    <div class="buttonwrapper">
      <div class="wrapper">blog</div>
      <i class="fa fa-angle-right"></i>
  </div>
  </div>
  <div class="navbutton bot right">
    <div class="buttonwrapper">
      <div class="wrapper">
        <a href="http://www.linkedin.com/in/shanshi" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>&nbsp;
        <a href="http://github.com/a455898334" target="_blank">
          <i class="fa fa-github-alt"></i>
        </a>&nbsp;
        <a href="http://www.facebook.com/frozenbeans" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>&nbsp;
        <a href="http://soundcloud.com/shan-shi" target="_blank">
          <i class="fa fa-music"></i>
        </a>&nbsp;
        <a href="https://www.dropbox.com/s/qk04vb9kl1l1pbr/Resume.pdf" target="_blank">
          <i class="fa fa-file-text-o"></i>
        </a>&nbsp;
        <a href="http://www.linkedin.com/in/shanshi" target="_blank"><i class="fa fa-envelope-o"></i></a>&nbsp;
      </div>
      <i class="fa fa-angle-left"></i>
    </div>
  </div>
</div>
